.tooltip {
  --triangle-outer-size: 6px;
  --triangle-inner-size: 5px;
  --pad-side: 0px;

  z-index: 100;
  position: absolute;
  top: 6px;
}

.left {
  left: calc(var(--triangle-outer-size) + var(--pad-side));
}
.right {
  right: calc(var(--triangle-outer-size) + var(--pad-side));
}

.content {
  position: relative;
  background-color: var(--logs-bg-accent-1);
  border: 1px solid var(--logs-fg-muted-2);
  border-radius: 4px;
  padding: 4px 6px;
  font-family: inherit;
  font-size: 11px;
  white-space: nowrap;
  /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3); */
  border-radius: 4px;
  color: var(--logs-fg);
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s ease, border-color 0.2s ease;
}

.tooltip:hover .content {
  background-color: var(--logs-bg-accent-3);
  border-color: var(--logs-fg-muted-1);
}

/* Triangle */
.content::before, .content::after {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
}
.content::before {
  border-top: var(--triangle-outer-size) solid transparent;
  border-bottom: var(--triangle-outer-size) solid transparent;
  border-right: var(--triangle-outer-size) solid var(--logs-fg-muted-2);
  border-left: var(--triangle-outer-size) solid var(--logs-fg-muted-2);
  transition: border-color 0.2s ease;
}

.tooltip:hover .content::before {
  border-right-color: var(--logs-fg-muted-1);
  border-left-color: var(--logs-fg-muted-1);
}
.content::after {
  border-top: var(--triangle-inner-size) solid transparent;
  border-bottom: var(--triangle-inner-size) solid transparent;
  border-right: var(--triangle-inner-size) solid var(--logs-bg-accent-1);
  border-left: var(--triangle-inner-size) solid var(--logs-bg-accent-1);
  transition: border-color 0.2s ease;
}

.tooltip:hover .content::after {
  border-right-color: var(--logs-bg-accent-3);
  border-left-color: var(--logs-bg-accent-3);
}
.left .content::before, .left .content::after {
  border-left-width: 0px;
}
.right .content::before, .right .content::after {
  border-right-width: 0px;
}
.left .content::before {
  left: calc(-1 * var(--triangle-outer-size) - 1px);
}
.left .content::after {
  left: calc(-1 * var(--triangle-inner-size));
}
.right .content::before {
  right: calc(-1 * var(--triangle-outer-size) - 1px);
}
.right .content::after {
  right: calc(-1 * var(--triangle-inner-size));
}